

.flexible {
    position:absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -999;
    top: 0;
    left: 0;
}

.bgv-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background-image: none;
    background-repeat: repeat;
    z-index: -998;
}

ul.osd-backgrounds-thimbnails {
  li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;

    img {
      border: 1px solid #333;
    }
    
    img.active {
      border: 1px solid #fff;
    }
  }
}
