@import "variables";

.rates {

	.receiver {
	    float: left;
	    width: 100%;
	}
	
	.bars {
	    float: left;
	    width: 100%;
	    font-weight: bold;
	    margin-bottom: 20px;

	
		ul {
		    margin-bottom: 5px;
		    clear: left;
		}
		
		li {
		    float: left;
		    height: 22px;
		    line-height: 20px;
		}
		
		.name {
		    padding: 0 10px 0 0;
		    width: 40px;
		    text-align: right;
		}
		
		.meter {
		    width: calc(100% - 50px);
		}
		
		.meter-bar {
		    position: relative;
		    margin-top: 2px;
		    width: 100%;
		    height: 15px;
		    border: 1px solid silver;
		    background-color: #f4f4f4;
	
		
			.label {
			    position: absolute;
			    width: 50px;
			    height: 15px;
			    line-height: 15px;
			    text-align: center;
			    color: #474747;
			}
			
			.fill {
			    position: relative;
			    overflow: hidden;
			    width: 50%;
			    height: 15px;
			    background-color: $background-color;
			}
			
			.fill .label {
			    color: white;
			}
		}
	}
	
	.rc_rates {
	    border-collapse: collapse;

	
		tr {
		    height: 25px;
		}
		
		th {
		    width: 60px;
		    padding-right: 5px;
		    text-align: center;
		}
		
		input {
		    width: 60px;
		}
		
		.name {
		    padding: 0 10px 0 0;
		    width: 40px;
		    text-align: right;
		    font-weight: bold;
		}
		
		input[type="text"] {
		    width: 60px;
		    height: 20px;
		    line-height: 20px;
		    text-align: right;
		    border: 1px solid silver;
		}
		
		input[type="number"] {
		    width: 60px;
		    height: 20px;
		    line-height: 20px;
		    text-align: right;
		    border: 1px solid silver;
		}
	}
	
	.rc_chart {
	    width: 200px;
	    height: 200px;
	    display: inline-block;
	}

}