@import "variables";

.cpid {
    width: 56px;
    height: 20px;
    line-height: 20px;
    font-family: system-ui;
    text-align: right;
    border: 1px solid silver;
    background-color: #e1e1e1;
    color: black;
    padding-right: 4px;
    font-size: 11px;
}


.tpa_chart {
	    width: 99%;
	    height: 160px;
	    display: inline-block;
	}
	
	