$background-color: #1d1d1d;
$text-color: #fff;
$button-default: #f00;
$button-hover: #0f0;
$button-active: #00f;

$button-background-normal: #ffca80;
$button-text-normal: #fff;
$button-border-normal: #c79605;
$button-bakground-hover: #fdebb4;


$bar-color1: #f4f4f4;
$bar_color2: #474747;
$bar_color3: #cec12f;
