$background-color: #1d1d1d;
$text-color: #fff;
$button-default: #f00;
$button-hover: #0f0;
$button-active: #00f;


$button-background-normal: #559641;
$button-text-normal: #fff;
$button-border-normal: #559641;
$button-background-hover: #559641;


$bar-color1: #f4f4f4;
$bar_color2: #474747;
$bar_color3: #9C241B; 


$default_font: 'Titillium Web', sans-serif;

$kiss_accent: #9C241B; 
$kiss_accent_bright: #d01414;
